<!DOCTYPE html>
<html>
<head>
   <meta charset=utf-8>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" type="text/css" href="myStyle.css">
   <title>RIDDLE-ME-THIS</title>
</head>
<body>
  <div>
    {% block login %}{% endblock %}
    <form method="POST" class="form-inline">
        <input type="text" class="form-control" placeholder="username" name="username" id="username" autofocus>
        <button class="btn btn-danger">continue </button>
    </form>
  </div>
  <div>
  </div>
</body>
</html>
